body {
    font-family: Verdana, Geneva, sans-serif;
    color: white;
    background-color: black;
}

h1 {
    font-size: 50px;
    font-weight: normal;
}

h2 {
    font-weight: 300;
    font-size: 42px;
}

a {
    color: Aquamarine;
    font-size: 16px;
}

.centered {
    text-align: center;
}

.description {
    font-size: 21px;
    color: Gray;
}

.footer {
    text-align: right;
}